.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container{
  display: block;
}

.input-container p{
  margin: 2px 0;
  font-size: 14px;
}

.input-container input{
  border: 1px solid rgb(192, 192, 192);
  display: block;
  font-size: 11px;
  padding-left: 5%;
  width: 95%;
  height: 45px;
  border-radius: 4px;
  margin-top: 2px;
  margin-bottom: 10px;
  background-color: #e8fffc;
}